.checkbox-ui-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  padding: 0;
  width: 16px;
  height: 16px;
}

.checkbox-ui-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #D8D8D8;
  display: inline-block;
}

.checkbox-ui-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-ui-wrapper input:checked ~ .checkmark {
  background-color: #39628D;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-ui-wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-ui-wrapper .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
