body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.users-list {
  max-width: 1678px;
  margin: auto;
  margin-top: 207px;
  margin-bottom: 207px;
}
.users-list .table {
  color: #39628D;
  overflow-x: auto;
}
.users-list .table tr:hover {
  background: rgba(57,98,141,0.05);
}
.users-list .table th {
  font-size: 12px;
}
.users-list .table td {
  font-size: 14px;
}

.users-list .table td, .users-list .table th {
  border-top: 1px solid #E2E2E2;
  vertical-align: middle;
}

.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-bottom: 10px;
}

.table-top h2 {
  color: #22242A;
  font-size: 18px;
  margin-left: 6%;
}

.table-top p {
  font-size: 12px;
  color: #808080;
  padding-right: 3.2%;
}

.table-top h2,
.table-top p {
  margin-bottom: 0;
}

.table-top .questionmark-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 24px;
  position: relative;
  bottom: 1.5px;
}

.users-list .table td:not(:nth-child(2)):hover {
  text-shadow: 0 0 0.9px #333, 0 0 0.9px #333;
}
